@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-brand-gold: #C69C2D;
  --color-brand-blue: #1E293B;
}

body {
  font-family: var(--font-sans);
  background-color: #F8FAFC;
  color: var(--color-brand-blue);
}
